<link rel="import" href="/static/components/index.html">
<link rel="import" href="/static/components/play.html">
<dom-module id="pilot-main">

  <script src="/static/deps/page.js"></script>

  <template>
    <pilot-index
      style$="{{curr(page, 'index')}}">
    </pilot-index>
    <pilot-play
      style$="{{curr(page, 'play')}}"
      video="{{page.params.video}}">
    </pilot-play>
  </template>

  <script>
    Polymer({
      is: 'pilot-main',
      ready: function() {
        this.page = null;
        page('/', this.index.bind(this));
        page('/play/:video(.*)', this.play.bind(this));
        page.base('/#!');
        page();
      },
      index: function(ctx, next) {
        this.set('page', {
          name: 'index'
        });
      },
      play: function(ctx, next) {
        this.set('page', {
          name: 'play',
          params: {
            video: ctx.params.video
          }
        });
      },
      curr: function(page, name) {
        if (page && page.name == name) {
          return '';
        }
        return 'display: none';
      }
    });
  </script>

</dom-module>