<dom-module id="pilot-play">

  <template>
    <style>
    </style>
    <video
    	id="video"
      src="{{file}}"
      controls
    ></video>
  </template>

  <script>
    Polymer({
      is: 'pilot-play',
      properties: {
      	file: String
      },
      ready: function() {
      	this.$.video.addEventListener('loadedmetadata', function() {
	      	var state = localStorage.getItem('pilot-play');
	      	if (state) {
	      		state = JSON.parse(state);
	      		if (state.file == this.file) {
	      			this.$.video.currentTime = state.currentTime - 5;
	      		}
	      	}
      	}.bind(this));
      	this.$.video.addEventListener('timeupdate', function() {
	      	localStorage.setItem('pilot-play', JSON.stringify({
	      		file: this.file,
	      		currentTime: this.$.video.currentTime
	      	}));
      	}.bind(this));
      }
    });
  </script>

</dom-module>