<dom-module id="pilot-tv">

  <script src="/static/deps/api.js"></script>

  <template>
    <style>
    </style>
    <button
      on-click="play"
      class="btn btn-success"
      disabled$="{{isPlaying(tv)}}">
      <span class="glyphicon glyphicon-play"></span>
    </button>
    <button
      on-click="pause"
      class="btn"
      disabled$="{{isPaused(tv)}}">
      <span class="glyphicon glyphicon-pause"></span>
    </button>
    <button
      on-click="stop"
      class="btn btn-danger"
      disabled$="{{isStopped(tv)}}">
      <span class="glyphicon glyphicon-stop"></span>
    </button>

    <p>Now playing: <span>{{tv.Playing}}</span></p>
  </template>

  <script>
    Polymer({
      is: 'pilot-tv',
      properties: {
        file: String
      },
      ready: function() {
      	this.tv = {
          Playing: '',
          Paused: false
        };
        api.Call('TVStatus', {}, function(resp) {
          this.set('tv', resp.TV);
          if (this.tv.Playing != '') {
            this.file = this.tv.Playing;
          }
        }.bind(this));
      },
      play: function() {
        api.Call('Play', {
          Filename: this.file
        }, function(resp) {
          this.set('tv', resp.TV);
        }.bind(this));
      },
      pause: function() {
        api.Call('Pause', {}, function(resp) {
          this.set('tv', resp.TV);
        }.bind(this));
      },
      stop: function() {
        api.Call('Stop', {}, function(resp) {
          this.set('tv', resp.TV);
        }.bind(this));
      },
      isPlaying: function(tv) {
        return tv.Playing != '' && !tv.Paused;
      },
      isPaused: function(tv) {
        return tv.Playing == '' || tv.Paused;
      },
      isStopped: function(tv) {
        return tv.Playing == '';
      }
    });
  </script>

</dom-module>